<h1>Listing restrictions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restrictions.each do |restriction| %>
      <tr>
        <td><%= restriction.name %></td>
        <td><%= link_to 'Show', restriction %></td>
        <td><%= link_to 'Edit', edit_restriction_path(restriction) %></td>
        <td><%= link_to 'Destroy', restriction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restriction', new_restriction_path %>
