<%= form_for(@event) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation"style="width:100%">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" style="margin:0;">
    <%= f.text_field :name, placeholder: "Event Name", class: "txtInput" %>
  </div>
  <div class="field" style="margin:0;">
    <%= f.number_field :zip, placeholder: "zipcode", class: "txtInput" %>
  </div>
  <div class="field" style="margin:0;">
    <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d'), class: "txtInput" %>
  </div>
  

  <!-- <div class="field">
    <%= f.label :restaurant %><br />
    <%= f.collection_select :restaurant_id, Restaurant.order(:name),:id,:name, include_blank: true %>
  </div> -->

<table class="table">
  <tr>
    <th>Invite Friends!</th>
  </tr>
  <tr>
    <td>

      <% @users.each do |u| %>

      <% unless u.nil? %>
        <% if @event.users.exists? (u) %>
          <%= check_box_tag "users[]", u.id, true %>
          <% else %>
            <%= check_box_tag "users[]", u.id, false %>
          <% end %>
        <% end %>

        <%= u.name %>
        <br />
      <% end %>

    </td>
  </tr>
</table>

  <%= f.submit @buttonName, class: "submitButton" %>

<% end %>
