<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<% unless @event.restaurant.nil? %>
	<p>
	  <strong>Restaurant:</strong>
	  <%= @event.restaurant.name %>
	</p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
