<script type="text/javascript">
	$(document).ready(function() {

		$('.pref').click(function() {
			
			var id = $(this)[0].id;
			var chk = $('.chk')[id-1];
			console.log('this far');
			if (chk.checked == true) {
				chk.checked = false;
				$(this).css('backgroundColor', 'white');
				$(this).css('color', 'blue');
			} else {
				chk.checked = true;
				$(this).css('backgroundColor', 'blue');
				$(this).css('color', 'white');
			}
		});

		// loop through user's previously selected restric's to match UI to data
		var prevRestrics = $('#prevRestrics').val().split(',')
		var numRestrics = prevRestrics.length;

		for (i=0; i <= numRestrics; i++) {
			var r = prevRestrics[i];
			
			if (r) {
				$('#'+r).click();
			}
		}

	});
</script>


<%= form_for @restric do |f| %>

	<table>
		<tr>
			<th class="headerBar">
				Choose Restrictions
			</th>
		</tr>
		<tr>
			<td>
					<%= hidden_field_tag :user_id, 	@user.id %>
					<%= hidden_field_tag "prevRestrics", 	@userRestrics %>

					<% counter = 1; %>
	        <% @restrictions.each do |r| %>
	        	
	        	<%= check_box_tag "restrics[]", r.id, false, class: "chk", style: "display: none;" %>
	          <div id="<%= counter %>" class="col-xs-6 col-sm-6 choicePanel pref" />
	            <%= r.name %>
	          </div>

	           <% counter += 1; %>
	       <% end %>

			</td>
		</tr>
		<tr>
			<td style="width:100%">
				<%= f.submit 'Add Restrictions', class: "submitButton" %>
			</td>
		</tr>
	</table>

<% end %>
