<script type="text/javascript">
	$(document).ready(function() {

		$('.restric').click(function() {	
			
			var id = $(this)[0].id;
			var chk = $('.chk')[id-1];

			if (chk.checked == true) {
				chk.checked = false;
				$(this).css('backgroundColor', 'white');
				$(this).css('color', 'blue');
			} else {
				chk.checked = true;
				$(this).css('backgroundColor', 'blue');
				$(this).css('color', 'white');
			}
		});


		// loop through user's previously selected restric's to match UI to data
		var prevPrefs = $('#prevPrefs').val().split(',')
		var numPrefs = prevPrefs.length;

		for (i=0; i <= numPrefs; i++) {
			var p = prevPrefs[i];

			if (p) {
				$('#'+p).click();
			}
		}

	});
</script>

<%= form_for @pref do |f| %>

	<table>
		<tr>
			<th class="headerBar">
				Choose Preferences:
			</th>
		</tr>
		<tr>
			<td>
				<%= hidden_field_tag :user_id, 	@user.id %>
				<%= hidden_field_tag "prevPrefs", 	@userPrefs %>

				<% counter = 1; %>
        <% @preferences.each do |p| %>
        	
        	<%= check_box_tag "prefs[]", p.id, false, class: "chk", style: "display:none;" %>
          <div id="<%= counter %>" class="col-xs-6 col-sm-6 choicePanel restric" />
            <%= p.name %>
          </div>

          <% counter += 1; %>
       <% end %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.submit 'Where We Eatin\'?', class: "submitButton" %>
			</td>
		</tr>
	</table>

<% end %>