<p id="notice"><%= notice %></p>


<h2>Restaurant: <%= @restaurant.name %></h2>
<table class="table">
	<tr>
		<th>Data</th>
		<th>Preferences</th>
		<th>Restrictions</th>
	</tr>
	<tr>
		<td>
			<p>
			  <strong>Address:</strong>
			  <%= @restaurant.address %>
			</p>

			<p>
			  <strong>Zip:</strong>
			  <%= @restaurant.zip %>
			</p>

		</td>
		<td>

			<% @restaurant.preferences.each do |p| %>
				<%= p.name %><br />
			<% end %>

		</td>
		<td>

			<% @restaurant.restrictions.each do |r| %>
				<%= r.name %><br />
			<% end %>

		</td>
	</tr>
</table>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
