

<li><%= link_to 'Prefs', preferences_path %></li>
<li><%= link_to 'Restricts', restrictions_path %></li>

<li><%= link_to 'About', page_path('about') %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', signin_path %></li>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to 'My Profile', current_user %></li>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Restaurants', restaurants_path %></li>
<% end %>