<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Spork" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Spork" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <style type="text/css">
    body {
      width:100%;
      max-width:700px;
      margin:0 auto;
    }

     .submitButton  {
        width:100%; 
        max-width:700px;
        min-height:50px; 
        background-color:green; 
        border:1px solid black; 
        color:white; 
        font-size:2em;
      }

      .headerBar {
        width:100%;
        background-color: white;
        color: green;
        padding: 20px 0;
        border:1px solid black;
        font-size:2em;
        text-align:center;
      }

      .choicePanel {
        border: 1px solid black;
        background-color: white;
        color: blue;
        padding:30px;
        text-align:center;
      }

      .txtInput {
        width:100%;
        padding:5px;
      }
    </style>

  </head>
  <body style="background-color:#eee">
    <header>
      
      <%= render 'layouts/navigation' %>

    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
